<main>
    <div class="title">
        <a [routerLink]="['/']">
            <i class="fa-solid fa-house"></i>
        </a>
        <span>{{ nameGame }}</span>
    </div>

    <form [formGroup]="form" (submit)="onSubmit()">
        <label>Description: <input type="text" formControlName="description"></label>
        <label>Launch date: <input type="date" formControlName="launchDate"></label>
        <label>Medium price: <input type="number" formControlName="mediumPrice"></label>
        <label>Release Year: <input type="number" formControlName="releaseYear"></label>
        <p *ngIf="haveError">Fill in every fields!</p>
        <button style="background: #444;" (click)="cancelEdition()" type="button">Cancel</button>
        <button type="submit">Submit</button>
    </form>

</main>
