<main>
    <a [routerLink]="['/']">
        <i class="fa-solid fa-house"></i>
    </a>

    <form [formGroup]="form" (submit)="onSubmit()">
        <label>Title: <input type="text" formControlName="title" placeholder="title"></label>
        <label>Description: <input type="text" formControlName="description" placeholder="description"></label>
        <label>Medium price: <input type="number" formControlName="mediumPrice" placeholder="mediumPrice"></label>
        <label>Release Year: <input type="number" formControlName="releaseYear" placeholder="releaseYear"></label>
        <label>Genres
            <span>Select one or more genres!</span>
            <select (change)="addGenres()" type="text" formControlName="genres">
                <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
            </select>
        </label>
        <label>Platforms
            <span>Select one or more platforms!</span>
            <select (change)="addPlatforms()" type="text" formControlName="platforms">
                <option *ngFor="let platform of platforms" [value]="platform">{{ platform }}</option>
            </select>
        </label>
        <label>Tags
            <input type="text" formControlName="tags" placeholder="tags">
            <button type="button" (click)="addTags()">Add tags</button>
        </label>
        <label formGroupName="photos">Photos<br/>
            <span>Url: </span><input type="text" formControlName="url" placeholder="url">
            <span>Name: </span><input type="text" formControlName="name" placeholder="name">
            <button type="button" (click)="addPhotos()">Add photo</button>
        </label>
        <label formGroupName="videos">Videos<br/>
            <span>Url: </span><input type="text" formControlName="url" placeholder="url">
            <span>Name: </span><input type="text" formControlName="type" placeholder="type">
            <button type="button" (click)="addVideos()">Add video</button>
        </label>
        <label formGroupName="studio">Studio<br/>
            <span>Name: </span><input type="text" formControlName="name" placeholder="name">
            <span>Location City: </span><input type="text" formControlName="locationCity" placeholder="locationCity">
            <span>Location Country: </span><input type="text" formControlName="locationCountry" placeholder="locationCountry">
        </label>
        <label formGroupName="company">Company<br/>
            <span>Name: </span><input type="text" formControlName="name" placeholder="name">
            <span>Location City: </span><input type="text" formControlName="locationCity" placeholder="locationCity">
            <span>Location Country: </span><input type="text" formControlName="locationCountry" placeholder="locationCountry">
        </label>

        <p *ngIf="haveError">Fill in every fields and add at least one of each field that contains the option to add!</p>
        <button style="background: #444;" (click)="cancelCreation()" type="button">Cancel</button>
        <button type="submit">Submit</button>
    </form>

</main>
